spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOriginPatterns:
                  - "*"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                allowedHeaders:
                  - "*"
                allowCredentials: true
                maxAge: 3600
jwt:
  secret: ${JWT_SECRET:default_secret_key_which_should_be_very_long_in_production}
server:
  port: 8080
services:
  users:
    url: ${USERS_SERVICE_URL:http://localhost:8081}
  platforms:
    url: ${PLATFORMS_SERVICE_URL:http://localhost:8082}
  courses:
    url: ${COURSES_SERVICE_URL:http://localhost:8083}
  content:
    url: ${CONTENT_SERVICE_URL:http://localhost:8084}
  auth:
    url: ${AUTH_SERVICE_URL:http://localhost:8085}
